
@define-color text-color #990000;
@define-color color-border #690000;
@define-color hover-bg rgba(153, 0, 0, 0.3);

* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 14px;        	/* font-size: 97%; */
}


window#waybar {
    background-color: transparent;      /* Background color */
    color: @text-color;                     /* Font color */
    text-shadow: 2px 2px 4px #000000;   /* Black shadow behind the text */
}


tooltip {
    background: rgba(0, 0, 0, 0.7);
    border-color: @color-border;
    border-radius: 10px;
    border-width: 2px;
}


tooltip label {
    color: @text-color;
}


#tray,
#custom-power,
#custom-separator,
#custom-skull,
#pulseaudio,
#clock,
#custom-swaync,
#mpris,
#idle_inhibitor,
#custom-player.previous
#language,
#memory,
#custom-player.previous,
#custom-player.next,
#disk,
#cpu {
    padding: 0px 5px;                       /* Padding left and right around text */
}


button {
    box-shadow: inset 0 -3px transparent;   /* Use box-shadow instead of border so the text isn't offset */
    border: none;       /* Avoid rounded borders under each button name */
    border-radius: 10px;
}


#workspaces button {
    color: @text-color;                 /* Font color */
    font-weight: bold;                  /* Bold text */
    padding: 0px 5px;                   /* Padding around text */
    padding-top: 3px;
    margin: 0 0px;                      /* Margin between modules */
    transition: all 0.3s ease;          /* Smooth changes */
    text-shadow: 2px 2px 2px black;   /* Black shadow behind the text */
}


#workspaces button:hover,
#workspaces button.urgent {
    background: @hover-bg;
}


#workspaces button.active {
    box-shadow: inset 0 -2px @text-color;   /* Underlined */
}
